<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.45">
    <title>Document</title>
    <style>
        body{
            margin:0;
        }
        .container2{
            display: grid;
            grid-template-columns: 1fr;
            min-width: 850px;
        }
        .flex{
            display: flex;
            justify-content: center;
        }
        .container {
            display: grid;
            display: -ms-grid;
            -ms-grid-columns: 100px repeat(4, 1fr) 100px;
            -ms-grid-rows:150px repeat(5, minmax(180px, auto));
            grid-template-columns: 800px;
            grid-template-rows: minmax(180px, auto) minmax(800px, auto) 150px;
        }
        subhead{
            display:flex;
            justify-content: center;
            height:50px;
            background-color:#202d4e;
            box-shadow:0 3px 7px 0 rgb(0 0 0 / 25%);
            color:rgb;
            position:relative;
        }
        .time{
            color:rgba(255, 255, 255, 0.904);
            margin: 7px;
            font-weight: 400;
        }
        .logout{
            position:absolute;
            left:80%;
            color:rgba(255, 255, 255, 0.904);
            margin:12.5px;
            font-weight: 400;
        }
        header {
            grid-column: 1/1;
            grid-row:1/1;
        }
        .writecenter{
            display: flex;
            justify-content: center;
        }
        .blank { 
            grid-row:2/4;
            grid-column:1/1;
            border-left:2px groove rgba(179, 2, 2, 0.2);
            display: flex;
            align-items:center;
        }
        .blank2{
            grid-column: 1/1;
            grid-row: 1/4;
            border-right:2px groove rgba(179, 2, 2, 0.2);
            display:flex;
            align-items:center;
            justify-content: flex-end;
        }
        .left{
            margin:0;
            writing-mode: vertical-rl;
            /* vertical-lr 
            transform: rotate(180deg);
            text-align: center;*/
            background-color: white;
            height:auto;
        }
        .left2{
            writing-mode: vertical-rl;
            background-color: white;
            height:auto;
            margin:0;
        }
        .item-1{
            font-size:16pt;
            line-height: 7px;
            padding-left: 7px;
            margin:5px;
            /* vertical-align:top; block요소에서 적용 안됨*/
        }
        input[type="text"]{
            line-height: normal;
            padding: .8em .5em;
            width: 79%;
            border:0.2em solid burlywood;
        }

        textarea{
            padding: .6em .5em;
            width:80%;
            resize:vertical;
            border:0.2em solid burlywood;
        }
        .detail{
            display:flex;
            flex-direction: row;
            align-items: center;
            gap:0.3em;
        }
        schedule{
            grid-column:1/1;
            grid-row:2/2;
        }

        .thing {
        margin-left:1rem;
        padding: 1rem;
        width: 720px;
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
        background-color: #ffffff;
        border-radius: 0.5rem;
        
        border-left: 0 solid #00ff99;
        transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
        }

        .thing:hover {
        padding-left: 0.5rem;
        border-left: 0.5rem solid #00ff99;
        }

        .thing > :first-child {
        margin-top: 0;
        }

        .thing > :last-child {
        margin-bottom: 0;
        }
        form{
            display:contents;
        }
        .crudbox{
            display:grid;
            grid-template-columns: 1fr;
        }
        .crudboxup{
            grid-column:1/1;
            grid-row:1/1;
            text-align: right;
        }
        .crudboxnick{
            grid-row:1/1;
            grid-column:1/1;
            font-size: 0.9em;
        }
        .del{
            color:rgba(179, 2, 2, 0.836);
            padding: 5px;
            margin-left: -0.4em;
            border: none; 
            border-radius: 5px;
        }
        .del:hover{
            background-color: rgba(179, 2, 2, 0.836);
            color:white;
            cursor: pointer;
        }
        .crud{
            border: none; 
            background-color: rgba(0,0,0,0); 
            color: skyblue; 
            padding: 5px;
            border-radius: 5px;
        }
        .crud:hover{
            background-color: skyblue;
            color:white;
            cursor: pointer;
        }
    </style>
    <script defer src="./clock2.js"></script>
    <!-- src 경로는 public 기준으로 시작 -->
    <link rel="stylesheet" type="text/css" href="./writestyle.css"/>
    <script defer src="./writebutton.js"></script>
    <script>
        let stringdata='<%- JSON.stringify(data) %>'
        let parsedata= JSON.parse(stringdata);
        function del(i){
            if (confirm("삭제하시겠습니까?") != 0) {
                document.getElementById(parsedata[i].title).submit();
            } else {
            }
        }
    </script>
</head>
<body>
    <div class="container2">
        <subhead>
            <h2 class="time">Time loading</h2>
            <a href="/logout">
                <h3 href='/logout_process' class='logout'>logout</h3>
            </a>
        </subhead>
    </div>
    <div class="flex">
        <div class="container">
            <form action='/update_process' method="POST">
                <header>
                    <p>Title >>> 
                        <input type='hidden' name='id' value="<%- identifier%>">
                        <input type="text" name="uptitle2" placeholder="Title을 입력없을시 전송되지않습니다."
                         value="<%-uptitle%>">
                    </p>
                    <p class="detail">
                        <tb>Detail >></tb>
                        <textarea name="updetail" rows="5"
                        placeholder="구체적으로 계획을 입력하세요"><%=updesc%></textarea>
                    </p>
                    <div class="writecenter">
                        <button class="submit-button state-0">
                        <!-- button의 default type값은 submit이다. button으로 쓰고싶으면 주의-->
                            <span class="pre-state-msg">Update</span>
                            <span class="current-state-msg hide">Sending...</span>
                            <span class="done-state-msg hide">Done!</span>
                        </button>
                    </div>
                </header>
            </form>
            <schedule>
                <div class="thing">
                    <h2>a little title</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ab tenetur at delectus aspernatur similique modi, est, debitis sit voluptate dolorem eligendi odio laborum magni nesciunt? Aliquam omnis molestiae at.</p>
                </div>
                <% let length = data.length-1 %>
                <% for(let i=0; i<=length; i++){ %>
                    <div class="thing">
                        <h2><%=data[i].title%></h2>
                        <p><%=data[i].description%></p>
                        <div class='crudbox'>
                            <div class="crudboxnick">
                                <%if(seetime[i]["date_format(lasttime,'%y-%m-%d:%l%p')"]){%>
                                    수정됨 <%=   seetime[i]["date_format(lasttime,'%y-%m-%d:%l%p')"] %>
                                    <%}else{ %>
                                    <%=   seetime[i]["date_format(firsttime,'%y-%m-%d:%l%p')"] %>
                                    <%}%>
                                    <% if(data[i].nick){ %>
                                        <%= data[i].nick %>
                                    <%} %>
                            </div>
                            <div class="crudboxup">
                                <form action="/update" method="POST" >
                                    <input type="hidden" name="id" value='<%- data[i].id%>'>
                                    <input type="hidden" name="uptitle" value='<%-data[i].title%>'>
                                    <input type="hidden" name="updesc" value='<%-data[i].description%>'>
                                    <button class="crud">수정</button>
                                </form>
                                <form action="/delete" method="POST" id='<%-data[i].title%>'>
                                    <input type="hidden" name="dtitle" value='<%-data[i].title%>'>
                                    <button class="del" type="button" onclick='del(<%- i %>)'>삭제</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% } %>
            </schedule>
            <aside class="blank">
                <h2 class="left"></h2>
            </aside>
            <aside class="blank2">
                <h2 class="left2"></h2>
            </aside>
        </div>
    </div>
</body>
</html>